<div class="card">
    <h2>{{ coreCourse.description }}</h2>
    <img src="{{ coreCourse.iconUrl }}" width="400" alt="">
    <p>{{ coreCourse.longDescription }}</p>
</div>
<div class="card">
    <h2>{{ coreCourse.description }}</h2>
    <img src="{{ coreCourse.iconUrl }}" width="400" alt="">
    <p>{{ coreCourse.longDescription }}</p>
</div>
<div class="card">
    <h2>{{ coreCourse.description }}</h2>
    <img src="{{ coreCourse.iconUrl }}" width="400" alt="">
    <p>{{ coreCourse.longDescription }}</p>
</div>
